/* Sidebar.css */
.sidebarContainer {
  display: flex;
  align-items: center;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  margin-top: -550px;
  border-right: 1px solid black;
}

.sidebarContainer h1 {
  font-size: 48px;
  margin-right: 20px;
  color: #333;
}

.sidebarContainer button {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
}
