body,
html {
  margin: 0;
  padding: 0;
}

.app {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full height of the viewport */
  padding: 20px;
  background-color: #f5f5f5;
  background-color: grey;
}

.editor {
  width: 70%;
  padding: 20px;
  box-sizing: border-box;
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.sidebar {
  width: 30%;
  padding: 20px;
  box-sizing: border-box;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
